body {
    background-color: #fff;
}

:root {
    --blue: #1e8fff;
    --orange: #e87c17;
    --white: #ffffff;
    --grey: #dbdbdb;
    --darkgrey: #868686;
    --dark: #202020;
    --green: #1eff87;
    --pink: #9e1eff;
    --red: #e61b1b;
}

.top-bar {
    background-color: var(--white);
    border-bottom: solid 0.08em var(--grey);
    position: absolute;
    left: 0%;
    top: 2.5em;
    width: 100%;
    height: 3em;
}



.btn-1 {
    position: absolute;
    left: 0.5em;
    top: 0.5em;
    height: 2em;
    width: 2em;
    border: solid 0.08em var(--grey);
    border-radius: 0.6em;
    transition: 0.15s linear;
}

.btn-1:hover {
    box-shadow: 0 0 0 0.09em var(--blue);
}

.btn-2 {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    height: 2em;
    width: 2em;
    border: solid 0.08em var(--grey);
    border-radius: 0.6em;
    transition: 0.15s linear;
}

.btn-2:hover {
    box-shadow: 0 0 0 0.09em var(--blue);
}

.btn-3 {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    height: 2em;
    width: 2em;
    border: solid 0.08em var(--grey);
    border-radius: 0.6em;
    transition: 0.25s linear;
}   

.btn-3:hover {
    transition: 0.25s linear;
    box-shadow: 0 0 0 0.09em var(--red);
    border-radius: 2em;
}

.pa-1 {
    position: absolute;
    left: 0%;
    top: 0em;
    height: 2.5em;
    width: 100%;
    background-color: var(--pink);
}

.pa-text {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--white);
    text-align: center;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -10%);
    font-size: small;
    cursor: default;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.renew-ic {
    position: absolute;
    width: 1.5em;
    right: 0.5em;
    top: 0.5em;
    cursor: pointer;
    transition: 0.15s linear;
}

.renew-ic:hover {
    scale: 1.1;
}

.renew-ic:active {

    scale: 0.95;
}

.renew-ic:hover { 
    transform: rotate(180deg);
}

.title-1 {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--grey);
    text-align: center;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -25%);
    font-size: larger;
    transition: 0.15s ease;
    cursor: default;
}

.title-1:hover {
    color: var(--dark);
    text-shadow: 0 0 1.5em var(--darkgrey);
}

.bottom-bar {
    background-color: var(--white);
    border-top: solid 0.08em var(--grey);
    position: absolute;
    left: 0%;
    bottom: 0em;
    width: 100%;
    height: 3em;
}

.generate-word {
    position: absolute;
    background-color: var(--white);
    border: 0.07em solid var(--grey);
    height: 2em;
    width: 9em;
    top: 0.5em;
    left: 0.5em;
    transition: 0.15s linear;
    border-radius: 0.5em;
}

.generate-word:hover {
    box-shadow: 0 0 0 0.09em var(--dark);    
}

.generate-text {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--grey);
    text-align: center;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: medium   ;
    cursor: default;
    transition: 0.15s ease;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.generate-text:hover {
    color: var(--dark);
}

.bottom-bar {
    background-color: var(--white);
    border-top: solid 0.08em var(--grey);
    position: absolute;
    left: 0%;
    bottom: 0em;
    width: 100%;
    height: 3em;
}

.home-btn {
    position: absolute;
    height: 2em;
    width: 2em;
    background-color: var(--white);
    border: 0.07em solid var(--grey);
    left: 0.5em;
    top: 0.5em;
    border-radius: 0.5em;
    transition: 0.15s ease; 
}

.home-btn:hover {
    box-shadow: 0 0 0 0.09em var(--blue);    
}

.home-ic {
    position: absolute;
    height: 1.9em;
    width: 1.9em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.projet-btn {
    position: absolute;
    height: 2em;
    width: 2em;
    background-color: var(--white);
    border: 0.07em solid var(--grey);
    left: 3em;
    top: 0.5em;
    border-radius: 0.5em;
    transition: 0.15s ease; 
}

.projet-btn:hover {
    box-shadow: 0 0 0 0.09em var(--blue);    
}

.projet-ic {
    position: absolute;
    height: 1.9em;
    width: 1.9em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.game-btn {
    position: absolute;
    height: 2em;
    width: 2em;
    background-color: var(--white);
    border: 0.07em solid var(--grey);
    left: 3em;
    top: 0.5em;
    border-radius: 0.5em;
    transition: 0.15s ease; 
}

.game-btn:hover {
    box-shadow: 0 0 0 0.09em var(--blue);    
}

.game-ic {
    position: absolute;
    height: 1.9em;
    width: 1.9em;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.close-ic {
    position: absolute;
    width: 1.5em;
    left: 0.5em;
    top: 0.5em;
    cursor: pointer;
    transition: 0.15s linear;
}

.close-ic:hover {
    scale: 1.1;
}

.close-ic:active {

    scale: 0.95;
}   

.projet-1 {
    position: absolute;
    top: 6.5em;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 20em;
    height: 11.25em;
    border: 0.09em solid var(--grey);
    border-radius: 1em;
    transition: 0.15s linear;
}

.projet-1:hover {
    box-shadow: 0 0 0 0.12em var(--blue);
}


.p-title-1 {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--dark);
    font-size: larger;
    left: 50%;
    transform: translate(-50%, -0%);
    bottom: -3em;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.p-description-1 {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--dark);
    font-size: smaller;
    left: 50%;
    transform: translate(-50%, -0%);
    bottom: -5em;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.projet-2 {
    position: absolute;
    top: 22em;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 20em;
    height: 11.25em;
    border: 0.09em solid var(--grey);
    border-radius: 1em;
    transition: 0.15s linear;
}

.projet-2:hover {
    box-shadow: 0 0 0 0.12em var(--blue);
}


.p-title-2 {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--dark);
    font-size: larger;
    left: 50%;
    transform: translate(-50%, -0%);
    bottom: -3em;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.p-description-2 {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--dark);
    font-size: smaller;
    left: 50%;
    transform: translate(-50%, -0%);
    bottom: -5em;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.projet-3 {
    position: absolute;
    top: 37.5em;
    left: 50%;
    transform: translate(-50%, -0%);
    width: 20em;
    height: 11.25em;
    border: 0.09em solid var(--grey);
    border-radius: 1em;
    transition: 0.15s linear;
}

.projet-3:hover {
    box-shadow: 0 0 0 0.12em var(--blue);
}

.p-title-3 {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    color: var(--dark);
    font-size: larger;
    left: 50%;
    transform: translate(-50%, -0%);
    bottom: -3em;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}

.p-description-3 {
    position: absolute;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: var(--dark);
    font-size: smaller;
    left: 50%;
    transform: translate(-50%, -0%);
    bottom: -5em;
    clear: both;
    display: inline-block;
    overflow: hidden;
    white-space: nowrap;
}
